---
---

.sp-content {
  dl {
    border: 1px solid #ccc;
    background: #ccc;
    margin: 10px 0 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 1px;
    line-height: 22px;
  }

  dt, dd {
    margin: 0;
    padding: 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1F5FA;
    
    &:nth-of-type(odd) {
      background: white;
    }
  }

  dd::after {
    content: '';
    align-self: normal;
    width: 40px;
    background: url(/about/why/feature-tick-box.png) no-repeat center;
  }
}