---
# CSS for index page
---
@import "variables";
@import "mixins";

$border: #eee;
$home-links: map-get($secondaries, "home");

.sp-index {
  margin-bottom: -8px;

  :link,
  :visited {
    color: #3D5F27;
  }

  @media (min-width: $break-point) {
    display: grid;
    grid-template-columns: 8fr 40px 10.89fr;
  }

  h2 {
    font-size: 26.6px;
    letter-spacing: -1.33px;
    line-height: 40px;
    color: map-get($colours, "home");
    margin-bottom: 12px;
    font-family: $title-font;
  }

  hr {
    @include rule;
  }

  @media (min-width: $break-point) {
    hr:nth-of-type(odd) {
      grid-column: 1 / span 3;
    }

    hr:nth-of-type(even) {
      @include rule(v);

      height: 90%;
    }
  }

  &__section {
    margin-top: 4px;
    font-family: $body-font;
    font-size: 14.6667px;
    line-height: 22px;

    > p {
      margin: 0 0 20px;
    }
  }

  &__why {
    grid-column: 1 / span 3;

    h2 {
      color: black;
    }

    + hr {
      margin: 25px 0 11px;
    }
  }

  &__join-list {
    @include reset-list;

    margin: 0 1px;
    font-size: 14.5px;
    color: $home-links;

    > li {
      display: flex;
      align-items: flex-start;
      padding: 2.5px 6px 8px;
    }

    img {
      vertical-align: middle;
      margin-right: 10px;
    }

    a {
      text-decoration: underline;
      flex: 1;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__section-case-studies {
    min-width: 0;
  }

  &__feed {
    @include reset-list;

    padding-top: 15px;

    > * {
      margin-bottom: 16px;
    }
  }

  &__feed-box {
    @include page-container;

    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(calc(100% + 9px));

    > * {
      margin: 0 5px;
    }
  }

  &__tablist {
    @include reset-list;

    display: flex;
    margin-top: -8px;
    font-family: $title-font;
    font-size: 16px;
    border-bottom: 1px solid #eee;

    a {
      position: relative;
      top: 1px;
      border: 1px solid #eee;
      border-radius: 4px 4px 0 0;
      margin-right: 23px;
      min-width: 97px;
      display: block;
      padding: 3px 15px 3px 8px;
      text-decoration: none;
      color: $home-links;

      &:hover {
        text-decoration: underline;
      }

      &[data-active] {
        border-bottom-color: white;
      }

      img {
        margin: 4px 7px 0 0;
        vertical-align: top;
      }
    }
  }

  &__post-title {
    color: $home-links;
    font-family: $title-font;
    font-size: 16px;
    line-height: 1.5;

    > a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__post-content {
    margin: 2px 0 0;
    font-size: 12px;
    line-height: 1.5;
    font-family: $body-font;
  }

  &__post-more {
    @include read-more;

    font-size: 10.66px;
    display: block;
    line-height: 16px;
  }

  &__map {
    width: 100%;
  }
}

@import "index/why";
@import "index/case-studies";