---
# CSS for index page
---
@import "variables";
@import "mixins";
@import "index/why";
@import "index/case-studies";

$border: #eee;

.sp-index {
  @media (min-width: 500px) {
    display: grid;
    grid-template-columns: 8fr 40px 10.89fr;
  }

  h2 {
    font-size: 26.6px;
    letter-spacing: -1.33px;
    line-height: 40px;
    color: $home-accent;
    margin-bottom: 12px;
  }

  hr {
    background-color: #eee;
    border: none;
  }

  &__section {
    margin-top: 8px;

    + hr {
      height: 100%;
      width: 1px;
    }
  }

  &__why {
    h2 {
      color: black;
    }

    &, & + hr {
      grid-column: 1 / span 3;
    }

    + hr {
      width: 100%;
      margin: 25px 0 7px;
      height: 1px;
    }
  }

  &__join-list {
    @include reset-list;

    margin: -2.5px 1px;
    font-family: Verdana, sans-serif;
    font-size: 14.5px;
    color: $home-links;

    > li {
      padding: 5.5px 6px;
    }

    img {
      vertical-align: middle;
      margin-right: 10px;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__section-case-studies {
    min-width: 0;
  }
}
