---
# CSS for whole site
---

@import "variables";

* {
  box-sizing: border-box;
}

html {
  background: #EEE;
  height: 100%;
  font-family: $body-font;
  color: $body-color;
}

body {
  background: white;
  max-width: 960px;
  min-height: 110%;
  margin: auto;
  padding: 20px 10px 10px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a:not(:link) {
  color: red;
  text-decoration: line-through;
}

@import "header";
