---
---
@import "variables";
@import "mixins";
@import "fonts";

* {
  box-sizing: border-box;
}

html {
  background: #EEE;
  height: 100%;
  font-family: $body-font;
  color: $body-color;
}

body {
  max-width: 960px;
  margin: auto;
}

.sp-base {
  background: white;

  &__skip {
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;

    &:not(:focus) {
      @include visually-hidden;
    }
  }
}

@each $theme, $colour in $colours {
  body[data-theme=#{$theme}] .sp-base__content {
    h1,
    h2,
    h3,
    a,
    a:visited {
      color: $colour;
    }
  }
}

.sp-base {
  padding: 0 10px 40px;
}

h1,
h2,
h3 {
  font-family: $title-font;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a:not([href]) {
  color: red;
  text-decoration: line-through;
}

$baseurl: "{{ site.baseurl }}";

@import "header";
@import "footer";
@import "content";
