---
---
@import 'variables';
@import 'mixins';

@import 'events';
@import 'resources';

.sp-page {
  @each $theme, $colour in $colours {
    $secondary: map-get($secondaries, $theme);

    &[data-theme=#{$theme}] & {
      &__sidebar-nav,
      &__decoration {
        color: $secondary;
        border-color: $colour;
      }

      &__main {
        h1,
        h2,
        a,
        a:visited {
          color: $colour;
        }

        a[href^="https:"],
        a[href^="http:"]{
          padding-right: 16px;
          background: url(/assets/external-link-#{$theme}.png) no-repeat 100% 50%;
        }
      }

      &__sidebar-item--external {
        padding-right: 16px;
        background-image: url(/assets/external-link-#{$theme}.png);
        background-repeat: no-repeat;
        background-position: 100% 50%;
      }
    }
  }

  display: flex;
  padding-top: 25px;

  &__sidebar {
    font-family: $title-font;
    padding-right: 16px;
    margin-right: 5px;
    flex: 0 0 220px;
    border-right: 1px solid #eee;
  }

  &__decoration {
    border-bottom: 7px solid;
    display: block;
    top: calc(100vh - 482px);
    position: sticky;
  }

  &__sidebar-nav {
    @include reset-list;

    border-top: 7px solid;
    font-size: 16px;
    line-height: 1.5;
  }

  &__sidebar-subnav {
    @include reset-list;

    font-size: 14.67px;
    margin-left: 15.33px;
  }

  &__sidebar-item {
    display: block;
    padding: 0 0 4px 8px;

    &--child {
      padding-bottom: 0;
    }

    &,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &--active,
    &:active,
    &:hover {
      background-color: #DDD;
    }

    &--children {
      background-image: url(/assets/menu-collapsed-arrow.png);
      background-repeat: no-repeat;
      background-position: 100% 7px;
    }

    &#{&}--active#{&}--children {
      background-image: url(/assets/menu-expanded-arrow.png);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__main {
    font-size: 14.67px;
    line-height: 22px;
    margin-left: 15px;
    flex: 1;

    h1 {
      font-size: 26.67px;
      letter-spacing: -1.33px;
      line-height: 40px;
      margin-bottom: 20px;
      font-family: $title-font;
    }

    h2 {
      font-size: 18.67px;
      letter-spacing: -0.93px;
      line-height: 28px;
      font-family: $title-font;
    }

    p,
    ul {
      margin-bottom: 20px;
    }

    a:hover {
      text-decoration: none;
    }

    ul {
      padding-left: 1.2em;
    }

    dl {
      border: 1px solid #ccc;
      background: #ccc;
      margin: 0 0 20px;
      display: grid;
      grid-template-columns: 1fr 31px;
      grid-row-gap: 1px;
      line-height: 22px;
    }

    dt {
      background: #f7f7f7;
    }

    dd {
      background: white;
    }

    dd,
    dt {
      margin: 0;
      padding: 4px 8px;
    }

    hr {
      @include rule;

      margin-bottom: 20px;
    }
  }
}
