/*
 * This file is for styling the accordion on the home page.
 */

body.context-home #block-views-nodequeue-1-block h2.block-title {
  font-family: @title_font_family;
  font-size: @title_font_size;
  font-weight: @title_font_weight;
  color: black;
  margin: 12px 0;  
}

body.context-home div.view-nodequeue-1 {
  /*
   * General settings (default to collapsed)
   */
  border: 0;
  
  div.views-row {
    width: @accordion_elem_width;
    height: @accordion_height;
    margin-right: @accordion_elem_spacing;
    float: left;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: relative;
  }
  
  div.views-row a {
    display: block;
  }
  
  div.accordion-expanded div.views-field-title.accordion-variable a,
  div.views-row div.views-field-title span.accordion-title-large a {
    margin-left: 10px; 
    font-size: 24px;
    padding-top: 6px;
    display: block;
  }
  
  div.views-field-title a,
  div.views-row div.views-field-title span.accordion-title-small a {
    font-family: @accordion_title_font_family;
    font-size: @accordion_title_font_size;
    font-weight: @accordion_title_font_weight;
    position: relative;
    line-height: 1em;
    margin-left: 0;
    padding-top: 0;
  }
  
  div.accordion-background {
    position: absolute;
    width: @accordion_expanded_width;
    height: @accordion_height - 2*@accordion_border_width;
    position: absolute;
    top: @accordion_border_width;
    display: none;
  }
  
  div.views-field-body {
    display: none;
    width: @accordion_expanded_width;
    position: relative;
    z-index: 1;
    margin: 12px 0 0 10px;

    div.field-content {
      font-family: @accordion_font_family;
      font-size: @accordion_font_size;
      font-weight: @accordion_font_weight;
    
      p {
        margin-right: 20px;
      }

      a.read-more-link {
        font-family: @small_font_family;
        font-weight: @small_font_weight;
        font-size: @small_font_size;
      }
    }    
  }
  
  div.accordion-empty {
    width: @accordion_elem_width;
    height: 130px; //@accordion_height/2 - @accordion_border_width;
    position: absolute;
    bottom: @accordion_border_width;
  }

  div.views-field-create-spad {
    .button(@green_main, @green_medium, @green_light, #888888, #FFFFFF);
    display: none;
    position:absolute;
    bottom: @accordion_border_width + 2px;
    z-index: 1;
    margin-left: 10px;

    a:link,
    a:visited {
      display: block;
      font-family: @site_link_font_family;
      font-size: @site_link_font_size;
      font-weight: 500;
      text-decoration: none;
    }
  }

  div.views-field-title {
    padding-top: 4px;
    height: 50px;
  }
  
  div.accordion-collapsed {
    cursor: pointer;
  }

  /*
   * Mixin to define the styling specific to each block
   */
  .accordion-style(@c_light, @c_main, @c_dark, @i_small, @i_large) {
    border: solid @accordion_border_width @c_main;
    border-right: 0;
    border-left: 0;
    
    div.accordion-empty {
      background: white url("../@{i_small}") no-repeat;
    }
    
    div.accordion-background {
      background: white url("../@{i_large}") no-repeat 100% 100%;
    }
    
    div.views-field-title a:link,
    div.views-field-title a:visited,     
    a.read-more-link:link,
    a.read-more-link:visited {
      color: @c_main;
    }  
    
    div.views-field-create-spad a:link,
    div.views-field-create-spad a:visited {
      background: @c_main;
      border: solid 1px @c_dark;
      box-shadow: inset 1px 1px 4px @c_light;
    }
  }
  
  /*
   * Specific to each block (default to collapsed)
   */
  div.views-row-1 {
    .accordion-style(@green_main, @green_dark, #000, @accordion_image_small_1, @accordion_image_1);
  }
  
  div.views-row-2 {
    .accordion-style(@green_light, @green_medium, @green_dark, @accordion_image_small_2, @accordion_image_2);
  }

  div.views-row-3 {
    .accordion-style(@green_light, @green_main, @green_medium, @accordion_image_small_3, @accordion_image_3);
  }
  
  div.views-row-4 {
    .accordion-style(#FFF, @green_light, @green_main, @accordion_image_small_4, @accordion_image_4);
    margin-right: 0;
  }

  /*
   * Settings for expanded
   */
  div.views-row-last, div.accordion-expanded {
    width: @accordion_expanded_width;
    
    div.views-field-body {
      display: block;
    }
    
    div.accordion-empty {
      display: none;
    }
    
    div.accordion-background {
      display: block;
    }
    
    div.views-field-create-spad {
      display: block;
    }    
  }
}




