/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

@import "settings.css.less";
@import "header_menu.css.less";
@import "views.css.less";
@import "home.css.less";
@import "accordion.css.less";
@import "slider.css.less";

/*
 * General Styling
 */
body {
  font-size: @base_font_size;
  font-family: @base_font_family;
  font-weight: @base_font_weight;
  background: @grey_surround_color;
}

div.zone {
  background: #FFF;
}

a:link, a:visited {
  color: @green_main; /* Gets overriden per context */
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a.external_link {
  padding-right: @external_link_icon_width + 4px;
  background: url("../@{green_external_link_icon}") no-repeat 100% 50%; /* Gets overriden per context */
}

/*
 * General layout
 */
#zone-header {
  padding-top: @top_margin;
}
body {
}
#zone-content {
  padding-top: @space_above_content;
}

/*
 * Content themeing (general)
 */
#zone-content {
  #region-content {
    h1 {
      font-size: @title_font_size;
      font-family: @title_font_family;
      font-weight: @title_font_weight;
      color: @green_main /* Gets overriden per context */
    }
  }
  
  #region-sidebar-first {
    div.twitter_link {
      background: url("../@{twitter_icon}") no-repeat 0 50%;
      padding-left: @twitter_icon_width + 6px;
      margin: 8px 0;
    }
    
    div.region-inner-wrapper {
      border: 0;
      border-right: solid @separator_width @separator_color;
      padding-right: 16px;
    }
    
    div.region-inner {
      border: solid @sidebar_marker_width @green_main; /* Gets overriden per context */      
      border-right: 0;
      border-left: 0;
      background: url("../@{green_side_image}") no-repeat 0 100%; /* Gets override per context */
    }
  }
}

/*
 * Node themeing
 */
body.page-node {
  #block-system-main {
    div.submitted {
      .view-created-by-on;
      margin-bottom: 12px;    
    }    
  }
}

body.page-node.node-type-case-study {
  #block-system-main {
    div.field-name-field-screenshot {
      float: left;
      margin: 8px 16px 16px 0;
    }
  }
}

body.page-user {
  
  div.user-picture {
    float: left;
    margin: 8px 16px 16px 0;
  }
  
  /* Seems to be a bug with delta/context on the user page.
   * This is temporary fix.
   */
  #zone-home-content {
    display: none;
  }
}

body.page-node.node-type-resource {
  div.field-name-field-image {
    float: left;
    margin: 8px 16px 16px 0;
  }
  
  div.field-name-field-attachment,
  div.field-name-field-website {
    font-size: 14pt;
    margin: 8px 16px 16px 0;
  }
}

/*
 * Footer themeing
 */
#region-logo-list {
  div.region-inner {
    padding-top: @space_above_footer;
  }
  
  div.block {
    border: solid @separator_width @separator_color;
    border-right: 0;
    border-left: 0;

    a {
      text-align: center;
      display: block;
      float: left;
      width: 20%;
    }
  }
}

#region-site-map {
  margin-bottom: @space_above_footer;
  div.menu-block-wrapper > ul.menu {
    margin: @space_above_footer 0 0 0;
    list-style: none;
    list-image: none;
  }
  
  div.menu-block-wrapper > ul.menu > li {
    display: block;
    float: left;
    margin: 0 33px 0 0;
    padding:0;
    
    a:link, a:visited {
      color: black;
      font-family: @sitemap_font_family;
      font-size: @sitemap_font_size;
      font-weight: @sitemap_font_weight;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
  }
  
  div.menu-block-wrapper > ul.menu > li ul { 
    li {
      list-style-type: square;
      list-style-image: none;
      list-style-position: inside;
    
      a:link, a:visited {
        color: black;
        font-family: @sitemap_font_family;
        font-size: @sitemap_sub_font_size;
        font-weight: @sitemap_sub_font_weight;
        text-decoration: none;
      }
    
      a:hover {
        text-decoration: underline;
      }
    }
  }
  
  div.menu-block-wrapper > ul.menu {
    li.menu-mlid-487 li {
      color: @green_main;
    }
    li.menu-mlid-399 li {
      color: @blue_main;
    }
    li.menu-mlid-400 li {
      color: @red_main;
    }
    li.menu-mlid-624 li {
      color: @yellow_main;
    }
    li.menu-mlid-406 li {
      color: @grey_main;
    }
    li.menu-mlid-407 li {
      color: @purple_main;
    }
  }
}

/*
 * Override required values per context
 */
@import "context.css.less";
