/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */


@import "settings.css.less";
@import "fonts.css.less";
@import "mixins.css.less";
@import "general.css.less";
@import "header_menu.css.less";
@import "footer.css.less";
@import "views.css.less";
@import "home.css.less";
@import "accordion.css.less";
@import "slider.css.less";
@import "sites_list.css.less";



/*
 * Why choose Scratchpads page themeing
 */
div.view-nodequeue-1.view-display-id-page_1 {

  div.views-row {
    min-height: @why_image_height + 20px;  
  }
  
  div.views-row div {
    width: 700px - @why_image_width;
  }  
  
  div.views-row-1 {
    background: url("../@{why_create_image}") 100% 20px no-repeat;
  }

  div.views-row-2 {
    background: url("../@{why_publish_image}") 100% 20px no-repeat;
  }

  div.views-row-3 {
    background: url("../@{why_contribute_image}") 100% 20px no-repeat;
  }

  div.views-row-4 {
    background: url("../@{why_collaborate_image}") 100% 20px no-repeat;
  }
  
}

/*
 * Override required values per context
 */
@import "context.css.less";
