/* This file contains the settings that relate to the theme
 * implementation.
 */

/*
 * Layout settings
 */
@top_margin: 20px;
@space_above_menu: 10px;
@space_above_content: 25px;
@space_above_footer: 25px;

/*
 * Font settings
 */
@base_font_size: 11pt;
@base_font_family: Verdana, sans-serif;
@base_font_weight: 400;

@small_font_size: 9pt;
@small_font_family: Ubuntu, sans-serif;
@small_font_weight: 400;

@title_font_size: 20pt;
@title_font_family: Ubuntu, sans-serif;
@title_font_weight: 400;

@h2_font_size: 12pt;
@h2_font_family: Ubuntu, sans-serif;
@h2_font_weight: 400;

@menu_font_size: 12pt;
@menu_font_family: Ubuntu, sans-serif;
@menu_font_weight: 400;

@sidebar_font_family: Ubuntu, sans-serif;
@sidebar_font_size: 12pt;
@sidebar_font_weight: 400;

@sidebar_sub_font_size: 11pt;
@sidebar_sub_font_weight: 400;

@sitemap_font_family: Ubuntu, sans-serif;
@sitemap_font_size: 9pt;
@sitemap_font_weight: 500;

@sitemap_sub_font_size: 9pt;
@sitemap_sub_font_weight: 400;

@site_link_font_family: Ubuntu, sans-serif;
@site_link_font_size: 10pt;
@site_link_font_weight: 400;

@event_date_font_family: Ubuntu, sans-serif;
@event_date_font_size: 11pt;
@event_date_font_weight: 400;

@event_date_date_font_weight: 500;

@accordion_font_family: Ubuntu, sans-serif;
@accordion_font_size: 10pt;
@accordion_font_weight: 400;

@accordion_title_font_family: Ubuntu, sans-serif;
@accordion_title_font_size: 11pt;
@accordion_title_font_weight: 400;

@news_block_title_font_family: Ubuntu, sans-serif;
@news_block_title_font_size: 11pt;
@news_block_title_font_weight: 400;

@news_block_sub_font_family: Ubuntu, sans-serif;
@news_block_sub_font_size: 10pt;
@news_block_sub_font_weight: 500;

@news_block_font_family: Verdana, sans-serif;
@news_block_font_size: 9pt;
@news_block_font_weight: 400;

@slideshow_font_title_family: Ubuntu, sans-serif;
@slideshow_font_size: 12pt;
@sliedhow_font_weight: 400;

@slideshow_font_familly: Verdana, sans-serif;
@slideshow_font_size: 10pt;
@slideshow_font_weight: 400;

/*
 * Icon & images settings
 */
@logo_width: 391px;
@logo_height: 85px;

@external_link_icon_width: 12px;
@external_link_icon_height: 12px;

@search_icon: "images/search-icon.png";
@search_icon_width: 23px;
@search_icon_height: 21px;

@twitter_icon: "images/twitter.png";
@twitter_icon_width: 18px;
@twitter_icon_height: 15px;

@active_facet_symbol: "images/active-facet-symbol.png";

@join_icon_width: 22px;
@join_icon_height: 22px;
@join_ambassador: "images/join-ambassador.png";
@join_signup: "images/join-signup.png";
@join_develop: "images/join-develop.png";
@join_create: "images/join-placeholder.png";
@join_join: "images/join-placeholder.png";
@join_policy: "images/join-placeholder.png";

@feed_icon_width: 14px;
@feed_icon_height: 14px;
@feed_icon: "images/feed-icon.png";

/*
 * Accordion settings
 */
@accordion_height: 220px;
@accordion_elem_width: 130px;
@accordion_elem_spacing: 10px;
@accordion_expanded_width: 520px;
@accordion_border_width: 7px;
@accordion_image_small_1: "images/octopus-square.png";
@accordion_image_small_2: "images/fern-square.png";
@accordion_image_small_3: "images/weevil-square.png";
@accordion_image_small_4: "images/flower-square.png";
@accordion_image_1: "images/octopus-big.png";
@accordion_image_2: "images/fern-big.png";
@accordion_image_3: "images/weevil-big.png";
@accordion_image_4: "images/flower-big.png";

/*
 * Non-specific settings
 */
@grey_surround_color: #EEE; 
@grey_highlight: #DDD;
@grey_font_color: #AAA;

@separator_color: #EEE;
@separator_width: 1px;

/*
 * Menu settings
 */
@menu_elem_padding: "7px 14px 7px 14px";

/*
 * Left sidebar settings
 */
@sidebar_marker_width: 7px;
@facet_font_size: 12pt;

/*
 * Why choose Scratchpads theme
 */
@why_contribute_image: "images/why-contribute.png";
@why_collaborate_image: "images/why-collaborate.png";
@why_create_image: "images/why-create.png";
@why_publish_image: "images/why-publish.png";
@why_image_width: 250px;
@why_image_height: 190px;

/*
 * Settings for the green theme
 */
@green_logo: "images/logo-green.png";
@green_side_image: "images/side-green.png";
@green_light: #C4D208;
@green_main: #87AE28;
@green_medium: #3D5F27;
@green_dark: #27341C;
@green_external_link_icon: "images/external-link-icon_-GREEN.png";

/*
 * Settings for the red theme
 */
@red_logo: "images/logo-red.png";
@red_side_image: "images/shrimp-202px.png";
@red_light: #D26E00;
@red_main: #7D1902;
@red_medium: #470B11;
@red_dark: #1A070D;
@red_external_link_icon: "images/external-link-icon_-RED.png";

/*
 * Settings for the purple theme
 */
@purple_logo: "images/logo-purple.png";
@purple_side_image: "images/snake-202px.png";
@purple_light: #BF9FC6;
@purple_main: #996DAA;
@purple_medium: #591E70;
@purple_dark: #300E59;
@purple_external_link_icon: "images/external-link-icon_-PURPLE.png";

/*
 * Settings for the yellow theme
 */
@yellow_logo: "images/logo-yellow.png";
@yellow_side_image: "images/spider-202px.png";
@yellow_light: #F2D46C;
@yellow_main: #D99818;
@yellow_medium: #A85708;
@yellow_dark: #572E00;
@yellow_external_link_icon: "images/external-link-icon_-ORANGE.png";

/*
 * Settings for the grey theme
 */
@grey_logo: "images/logo-grey.png";
@grey_side_image: "images/weevil-202px.png";
@grey_light: #CFCCBA;
@grey_main: #A1A891;
@grey_medium: #54635E;
@grey_dark: #1F241F;
@grey_external_link_icon: "images/external-link-icon_-GREY.png";

/*
 * Settings for the blue theme
 */
@blue_logo: "images/logo-blue.png";
@blue_side_image: "images/worm-202px.png";
@blue_light: #73C0D1;
@blue_main: #2887A8;
@blue_medium: #27415F;
@blue_dark: #1C2734;
@blue_external_link_icon: "images/external-link-icon_-BLUE.png";


