/* This file contains the settings that relate to the theme
 * implementation.
 */

/*
 * Layout settings
 */
@top_margin: 30px;
@space_above_menu: 25px;
@space_above_content: 25px;

/*
 * Font settings
 */
@base_font_size: 12pt;
@base_font_family: Verdana, sans-serif;
@base_font_weight: 400;

@small_font_size: 9pt;
@small_font_family: Ubuntu, sans-serif;
@small_font_weight: 400;

@title_font_size: 24pt;
@title_font_family: Ubuntu, sans-serif;
@title_font_weight: 400;

@menu_font_size: 13pt;
@menu_font_family: Ubuntu, sans-serif;
@menu_font_weight: 400;

@sidebar_font_family: Ubuntu, sans-serif;
@sidebar_font_size: 15pt;
@sidebar_font_weight: 400;

@sidebar_sub_font_size: 12pt;
@sidebar_sub_font_weight: 500;

/*
 * Icon & images settings
 */
@logo_width: 391px;
@logo_height: 85px;

@external_link_icon_width: 12px;
@external_link_icon_height: 12px;

@search_icon: "images/search-icon.png";
@search_icon_width: 23px;
@search_icon_height: 21px;

@twitter_icon: "images/twitter.png";
@twitter_icon_width: 18px;
@twitter_icon_height: 15px;

@active_facet_symbol: "images/active-facet-symbol.png";

/*
 * Non-specific settings
 */
@grey_surround_color: #EEE; 
@grey_highlight: #DDD;
@grey_font_color: #AAA;

@separator_color: #EEE;
@separator_width: 2px;

/*
 * Menu settings
 */
@menu_elem_padding: "7px 14px 7px 14px";

/*
 * Left sidebar settings
 */
@sidebar_marker_width: 8px;
@facet_font_size: 12pt;

/*
 * Settings for the green theme
 */
@green_logo: "images/logo-green.png";
@green_side_image: "images/side-green.png";
@green_light: #C4D208;
@green_main: #87AE28;
@green_medium: #3D5F27;
@green_dark: #27341C;
@green_external_link_icon: "images/external-link-icon_-GREEN.png";

/*
 * Settings for the red theme
 */
@red_logo: "images/logo-red.png";
@red_side_image: "images/side-green.png";
@red_light: #D26E00;
@red_main: #7D1902;
@red_medium: #470B11;
@red_dark: #1A070D;
@red_external_link_icon: "images/external-link-icon_-RED.png";

/*
 * Settings for the purple theme
 */
@purple_logo: "images/logo-purple.png";
@purple_side_image: "images/side-green.png";
@purple_light: #BF9FC6;
@purple_main: #996DAA;
@purple_medium: #591E70;
@purple_dark: #300E59;
@purple_external_link_icon: "images/external-link-icon_-PURPLE.png";

/*
 * Settings for the yellow theme
 */
@yellow_logo: "images/logo-yellow.png";
@yellow_side_image: "images/side-green.png";
@yellow_light: #F2D46C;
@yellow_main: #D99818;
@yellow_medium: #A85708;
@yellow_dark: #572E00;
@yellow_external_link_icon: "images/external-link-icon_-ORANGE.png";

/*
 * Settings for the grey theme
 */
@grey_logo: "images/logo-grey.png";
@grey_side_image: "images/side-green.png";
@grey_light: #CFCCBA;
@grey_main: #A1A891;
@grey_medium: #54635E;
@grey_dark: #1F241F;
@grey_external_link_icon: "images/external-link-icon_-GREY.png";

/*
 * Settings for the blue theme
 */
@blue_logo: "images/logo-blue.png";
@blue_side_image: "images/side-green.png";
@blue_light: #73C0D1;
@blue_main: #2887A8;
@blue_medium: #27415F;
@blue_dark: #1C2734;
@blue_external_link_icon: "images/external-link-icon_-BLUE.png";


