---
layout: base
title: Home
css: index
js:
 - why/accordion
menu: Home
weight: 1
---

<main class="sp-index">
  {% include index/why.html class="sp-index__why" %}

  <hr>

  <section class="sp-index__section">
    <h2 class="sp-index__heading">Join the community!</h2>

    <ul class="sp-index__join-list">
      <li><img src="/assets/join/join-training.png" alt=""><a href="/support/training/events">Register for training</a></li>
      <li><img src="/assets/join/join-sandbox.png" alt=""><a href="/support/sandbox">Try our sandbox</a></li>
      <li><img src="/assets/join/join-ambassador.png" alt=""><a href="/support/ambassadors">Become a Scratchpads ambassador</a></li>
      <li><img src="/assets/join/join-develop.png" alt=""><a href="/develop/hosting">Develop Scratchpads source code</a></li>
      <li><img src="/assets/join/join-read.png" alt=""><a href="/about/policies">Read about our policies</a></li>
      <li><img src="/assets/join/join-create.png" alt=""><a href="//get.scratchpads.eu">Create a Scratchpad</a></li>
      <!--<li><img src="/assets/join/join-join.png" alt=""><a href="/explore/sites-list">Join a Scratchpad</a></li>-->
    </ul>
  </section>

  <hr>

  {% include index/case-studies.html class="sp-index__section sp-index__section-case-studies" %}

  <hr>

  <section class="sp-index__section">
    <h2 class="sp-index__heading">Feeds</h2>

    <ul class="sp-index__tablist">
      <li><a href="#sp-feed-atom"><img src="/assets/index/feed-icon.png" alt="">News</a></li>
      <li><a href="#sp-feed-twitter"><img src="/assets/index/twitter.png" alt="">Twitter</a></li>
    </ul>

    <div class="sp-index__feed-box">
      <ul class="sp-index__feed" id="sp-feed-atom">
      {% for post in site.posts %}
        <li>
          <h3 class="sp-index__post-title"><a href="{{post.url}}">{{post.title}}</a></h3>
          <div class="sp-index__post-content">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</div>
          <a class="sp-index__post-more" href="{{ post.url }}">Read more</a>
        </li>
      {% endfor %}
      </ul>
      <div id="sp-feed-twitter">
        <a class="twitter-timeline" href="https://twitter.com/scratchpads?ref_src=twsrc%5Etfw" data-tweet-limit=3>Tweets by scratchpads</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </section>

  <hr>

  <section class="sp-index__section">
    <h2 class="sp-index__heading">Scratchpads around the world</h2>

    <p>
      <b>{{ site.data.stats.scratchpads }}</b> Scratchpads by
      <b>{{ site.data.stats.activeUsers }}</b> active users covering
      <b>{{ site.data.stats.taxa }}</b> taxa in
      <b>{{ site.data.stats.pages }}</b> pages.
    </p>

    <p>
      Our {{ site.data.stats.ambassadors }} Scratchpads ambassadors are located across the globe:
    </p>

    {% include ambassador-map.html %}
  </section>

  <hr>
</main>
