---
layout: base
css: news
title: News
---

<div class="sp-news">
  {% include news-sidebar.html %}

  <main class="sp-news__main sp-base__content">
    <h1 class="sp-news__title">News</h1>

    {% for post in paginator.posts %}
      {% assign post_date = post.date | date: '%Y' %}
      {% if post_date != date %}
        {% assign date = post_date %}

        {% if forloop.index > 1 %}
          </div>
        {% endif %}
        <h2 id="{{ post_date }}" class="sp-news__year">{{ post_date }}</h2>
        <div>
      {% else %}
        <hr>
      {% endif %}
        <article class="sp-news__post">
          <header class="sp-news__post-header">
            <h1 class="sp-news__post-title">
              <a href="{{ post.url }}" role="presentation" tabindex="-1">{{ post.title }}</a>
            </h1>
            Published by Scratchpads Team on <time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: '%e.%m.%Y' }}</time>.
          </header>
          <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
          <a href="{{ post.url }}">Read more</a>
        </article>
    {% endfor %}
    </div>

    <ul class="sp-news__pagination">
      {% if paginator.previous_page_path %}
      <li class="sp-news__page-prev"><a href="{{ paginator.previous_page_path }}">More recent posts</a></li>
      {% endif %}
      {% if paginator.next_page_path %}
      <li class="sp-news__page-next"><a href="{{ paginator.next_page_path }}">Older posts</a></li>
      {% endif %}
    </ul>
  </main>
</div>