<footer>
  <ul aria-label="Sponsors">
    <li><a href="http://www.ner.ac.uk"><img src="/assets/sponsor-logos/ner.png" alt="Natural Environment Research Council"></a></li>
    <li><a href="http://www.e-monocot.org"><img src="/assets/sponsor-logos/emonocot.png" alt="eMonocot"></a></li>
    <li><a href="http://www.vbrant.eu"><img src="/assets/sponsor-logos/vibrant.png" alt="ViBrant"></a></li>
    <li><a href="https://ec.europa.eu/digital-single-market/e-infrastructures"><img src="/assets/sponsor-logos/einfra.png" alt="e-Infrastructures"></a></li>
    <li><a href="http://www.nhm.ac.uk"><img src="/assets/sponsor-logos/nhm.png" alt="Natural History Museum"></a></li>
  </ul>

  <hr>

  Sitemap

  <hr>

  <ul>
    <li><a>Website Feedback</a></li>
    <li><a>Terms & Conditions</a></li>
    <li><a>Privacy Policy</a></li>
    <li><a>Cookies</a></li>
  </ul>
</footer>
