<footer class="sp-footer">
  <ul aria-label="Sponsors" class="sp-footer__sponsors">
    <li><a href="http://www.ner.ac.uk"><img src="/assets/sponsor-logos/ner.png" alt="Natural Environment Research Council"></a></li>
    <li><a href="http://www.e-monocot.org"><img src="/assets/sponsor-logos/emonocot.png" alt="eMonocot"></a></li>
    <li><a href="http://www.vbrant.eu"><img src="/assets/sponsor-logos/vibrant.png" alt="ViBrant"></a></li>
    <li><a href="https://ec.europa.eu/digital-single-market/e-infrastructures"><img src="/assets/sponsor-logos/einfra.png" alt="e-Infrastructures"></a></li>
    <li><a href="http://www.nhm.ac.uk"><img src="/assets/sponsor-logos/nhm.png" alt="Natural History Museum"></a></li>
  </ul>

  <hr>

  <nav class="sp-footer__map" aria-label="Site map">
    <ul>
      <li>
        <a class="sp-footer__category" href="/">Home</a>
        <ul class="sp-footer__section sp-footer__section--home">
          <li><a>Contact us</a></li>
        </ul>
      </li>
      <li>
        <a class="sp-footer__category">Explore</a>
        <ul class="sp-footer__section sp-footer__section--explore">
          <li><a>Summary Statistics</a></li>
          <li><a title="Statistics on Sites, Content and users">Scratchpads 2 statistics</a></li>
          <li><a>Sites list</a></li>
        </ul>
      </li>
      <li>
        <a class="sp-footer__category">Develop</a>
        <ul class="sp-footer__section sp-footer__section--develop">
          <li><a>Extending Scratchpads</a></li>
          <li><a>Hosting</a></li>
          <li><a href="http://qa.scratchpads.eu/" title="Scratchpads Automated Testing Site">Testing</a></li>
          <li><a>Git repository</a></li>
          <li><a>Git commits</a></li>
        </ul>
      </li>
      <li>
        <a class="sp-footer__category">Support</a>
        <ul class="sp-footer__section sp-footer__section--support">
          <li><a>Introduction</a></li>
          <li><a>Training</a></li>
          <li><a>FAQ</a></li>
          <li><a>Help Wiki</a></li>
          <li><a>Issues queue</a></li>
          <li><a>Sandbox</a></li>
          <li><a>Apply for a training site</a></li>
          <li><a>Grant proposals</a></li>
          <li><a>Ambassadors</a></li>
        </ul>
      </li>
      <li>
        <a class="sp-footer__category">About us</a>
        <ul class="sp-footer__section sp-footer__section--about">
          <li><a>Why choose Scratchpads?</a></li>
          <li><a>Concept</a></li>
          <li><a>Policies</a></li>
          <li><a>Partner projects</a></li>
          <li><a>Sponsors</a></li>
          <li><a>Resources</a></li>
          <li><a>Team</a></li>
          <li><a>How to cite</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <hr>

  <ul class="sp-footer__hygiene">
    <li><a>Website feedback</a></li>
    <li><a>Terms & Conditions</a></li>
    <li><a>Privacy Policy</a></li>
    <li><a>Cookies</a></li>
  </ul>
</footer>
