<footer class="sp-footer">
  <ul aria-label="Sponsors" class="sp-footer__sponsors">
    <li><a href="http://www.ner.ac.uk"><img src="{{ '/assets/sponsor-logos/ner.png' | relative_url }}" alt="Natural Environment Research Council"></a></li>
    <li><a href="http://www.e-monocot.org"><img src="{{ '/assets/sponsor-logos/emonocot.png' | relative_url }}" alt="eMonocot"></a></li>
    <li><a href="http://vbrant.scratchpads.org"><img src="{{ '/assets/sponsor-logos/vibrant.png' | relative_url }}" alt="ViBrant"></a></li>
    <li><a href="https://ec.europa.eu/digital-single-market/e-infrastructures"><img src="{{ '/assets/sponsor-logos/einfra.png' | relative_url }}" alt="e-Infrastructures"></a></li>
    <li><a href="http://www.nhm.ac.uk"><img src="{{ '/assets/sponsor-logos/nhm.png' | relative_url }}" alt="Natural History Museum"></a></li>
  </ul>

  <hr>

  {% assign array = '' | split: '' %}
  {% assign home = array %}
  {% assign explore = array %}
  {% assign develop = array %}
  {% assign support = array %}
  {% assign about = array %}

  {% assign categories = site.html_pages | sort: "weight" | group_by: "menu" %}

  {% for cat in categories %}
    {% case cat.name %}
      {% when '' %}
        {% assign posts = cat.items %}
      {% when 'Home' %}
        {% assign home = cat.items %}
      {% when 'Explore' %}
        {% assign explore = cat.items %}
      {% when 'Develop' %}
        {% assign develop = cat.items %}
      {% when 'Support' %}
        {% assign support = cat.items %}
      {% when 'About us' %}
        {% assign about = cat.items %}
    {% endcase %}
  {% endfor %}

  {% for node in posts %}
    {% include parent page=node %}

    {% case parent %}
      {% when home[0].url %}
        {% assign home = home | push: node %}
      {% when explore[0].url %}
        {% assign explore = explore | push: node %}
      {% when develop[0].url %}
        {% assign develop = develop | push: node %}
      {% when support[0].url %}
        {% assign support = support | push: node %}
      {% when about[0].url %}
        {% assign about = about | push: node %}
    {% endcase %}
  {% endfor %}

  {% assign about = about | shift %}

  <nav class="sp-footer__map" aria-label="Site map">
    <ul>
      <li>
        <div class="sp-footer__category">Scratchpads</div>
        <ul class="sp-footer__section sp-footer__section--home">
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/contact' | relative_url }}">Contact us</a></li>
        </ul>
      </li>
      <li>
        <div class="sp-footer__category">Explore</div>
        <ul class="sp-footer__section sp-footer__section--explore">
          {% for page in explore %}
            <li><a href="{{ page.url | relative_url }}">{{ page.sidebar | default: page.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <div class="sp-footer__category">Develop</div>
        <ul class="sp-footer__section sp-footer__section--develop">
          {% for page in develop %}
            {% assign url = page.url | relative_url %}
            <li><a href="{{ page.redirect_to | default: url }}">{{page.sidebar | default: page.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <div class="sp-footer__category">Support</div>
        <ul class="sp-footer__section sp-footer__section--support">
          {% for page in support %}
            {% assign url = page.url | relative_url %}
            <li><a href="{{ page.redirect_to | default: url }}">{{page.sidebar | default: page.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <div class="sp-footer__category">About us</div>
        <ul class="sp-footer__section sp-footer__section--about">
          {% for page in about %}
            {% assign url = page.url | relative_url %}
            <li><a href="{{ page.redirect_to | default: url }}">{{page.sidebar | default: page.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>

  <hr>

  <ul class="sp-footer__hygiene">
    <li><a href="{{ '/contact' | relative_url }}">Website feedback</a></li>
    <li><a href="{{ '/terms-and-conditions' | relative_url }}">Terms & Conditions</a></li>
    <li><a href="{{ '/privacy-policy' | relative_url }}">Privacy Policy</a></li>
    <li><a href="{{ '/cookies' | relative_url }}">Cookies</a></li>
  </ul>
</footer>
