{% include theme %}
{% assign page_theme = theme %}
<header class="sp-header">
  <h1>
    <img src="/assets/logo/logo-{{ page_theme }}.png"
         alt="Scratchpads - biodiversity online"
         class="sp-header__logo">
  </h1>

  <form class="sp-header__search" action="https://search.yahoo.com/search">
    <a href="/contact" class="sp-header__contact">contact us</a>
    <input type="hidden" name="vs" value="scratchpads.eu">
    <div class="sp-header__search-bar">
      <label class="sp-header__search-label">
        <span class="sp-header__search-label-text">Search query</span>
        <input type="search" class="sp-header__search-input" name="q" autocomplete="off" placeholder="Search scratchpads.eu">
      </label>
      <button class="sp-header__search-submit">🔎</button>
    </div>
  </form>

  <nav class="sp-header__nav">
    <ul class="sp-header__nav-list">

    {% assign menu = (site.pages | where_exp: "page", "page.menu" | sort: "weight") %}
      {% for node in menu %}
        {% include theme page=node %}
        {% assign base = "sp-header__nav-link" %}
        {% assign class = base %}
        {% if theme == page_theme %}
          {% assign class = class | append: " " | append: base | append: "--active" %}
        {% endif %}

        <li><a href="{{ node.redirect_to | default: node.url }}" class="{{ class }}" data-theme="{{ theme }}">{{ node.menu }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
