{% include theme %}
{% assign page_theme = theme %}
<header class="sp-header">
  <h1>
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/logo/logo-' | relative_url }}{{ page_theme }}.png"
         alt="Scratchpads - biodiversity online"
         class="sp-header__logo">
    </a>
  </h1>

  <div class="sp-header__search">
    <a href="{{ '/contact' | relative_url }}" class="sp-header__contact">Contact us</a>
  </div>

  <nav class="sp-header__nav">
    <ul class="sp-header__nav-list">

    {% assign menu = (site.pages | where_exp: "page", "page.menu" | sort: "weight") %}
      {% for node in menu %}
        {% include theme page=node %}
        {% assign base = "sp-header__nav-link" %}
        {% assign class = base %}
        {% if theme == page_theme %}
          {% assign class = class | append: " " | append: base | append: "--active" %}
        {% endif %}

        <li><a href="{{ node.redirect_to | default: node.url | relative_url }}" class="{{ class }}" data-theme="{{ theme }}">{{ node.menu }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
