.sp-content {
  h2 {
    font-size: 18.67px;
    letter-spacing: -0.93px;
    line-height: 28px;
  }

  p,
  :not(li) > ul {
    margin-bottom: 20px;
  }

  ul {
    padding-left: 1.2em;
  }

  code {
    display: block;
    background: #CFCCBA;
    font-size: 13.33px;
    line-height: 3;
    margin: 8px 32px;
    border: 1px solid #AAA;
    padding: 10px 16px 25px;
    white-space: pre;
    overflow-x: auto;
  }

  table {
    border: 1px solid #CCC;
  }

  thead {
    position: sticky;
    top: 0;
    background: white;
  }

  th {
    text-align: left;
  }

  td, th {
    padding: 4px 8px;
  }
}
