.sp-events {
  &__courses {
    @include reset-list;
  }

  &__course {
    margin: 12px 0;
    padding: 12px;
    font-size: 13.2px;

    &:nth-of-type(odd) {
      background: #eee;
    }
  }

  &__tablist {
    @include reset-list;

    display: flex;
    margin-top: -8px;
    font-family: $title-font;
    font-size: 16px;
    border-bottom: 1px solid #eee;

    > * {
      position: relative;
      top: 1px;
      border: 1px solid #eee;
      border-radius: 4px 4px 0 0;
      margin-right: 23px;
      min-width: 97px;

      a {
        display: block;
        padding: 3px 15px 3px 8px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        margin: 4px 7px 0 0;
        vertical-align: top;
      }
    }
  }
}