.sp-footer {
  padding: 40px 24px 38px 20px;

  hr {
    @include rule($color: #ddd);
  }

  &__sponsors {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__map {
    margin: 19px -18px 20px -10px;

    > ul {
      @include reset-list;
      column-count: 4;

      > li {
        break-inside: avoid;
        page-break-inside: avoid;
        font-family: $title-font;
        line-height: 22px;
        margin-left: 10px;

        > * {
          font-family: $body-font;
        }
      }
    }
  }

  &__section {
    padding: 0;
    margin: 0 0 10px;
    list-style-type: square;
    list-style-position: inside;

    > li {
      margin: 0;
      line-height: 16.1333px;
      font-family: $title-font;
      font-size: 14.6667px;
    }

    > li a {
      font-size: 12px;
      margin-left: -0.3em;
      font-family: $body-font;
    }

    @each $category, $colour in $colours {
      &--#{$category} {
        color: $colour;
      }
    }
  }

  &__category {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__hygiene {
    @include reset-list;

    display: flex;
    justify-content: center;
    color: #777;
    font-size: 12px;
    margin: 14px 0 0 9px;

    > * {
      padding: 1px 7px 2px 6px;

      &:not(:last-child) {
        border-right: 1px solid #aaa;
      }
    }
  }
}
