.sp-header {
  padding: 20px 10px 0;
  margin: 0;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__logo {
    margin-bottom: 11px;
    max-width: 100%;
  }

  &__nav {
    font-family: $title-font;
    margin-top: 10px;
    border: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    width: 100%;
  }

  &__nav-list {
    margin: -3.5px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
      list-style: none;
      margin: 3.5px;
    }
  }

  &__nav-link {
    display: block;
    padding: 4px 14px 5px;
    line-height: 24px;
    text-decoration: none;
    color: black;

    &--active,
    &:hover {
      color: white;
    }
  }

  &__search {
    text-align: right;
  }

  &__search-label-text {
    @include visually-hidden;
  }

  &__search-bar {
    display: flex;
    border: 1px solid #eee;
    margin: 3px -3px;
  }

  &__search-submit {
    background: transparent;
    border: 0;
  }

  &__search-input {
    border: 0;
    background: transparent;
    padding: 3px;
  }

  &__contact {
    font-size: 12px;

    &:not(:hover) {
      text-decoration: none;
    }
  }

  @each $theme, $colour in $colours {
    &__nav-link {
      &--active[data-theme="#{$theme}"],
      &:hover[data-theme="#{$theme}"] {
        background: $colour;
      }
    }

    body[data-theme="#{$theme}"] & {
      &__contact:link,
      &__contact:visited {
        color: $colour;
      }

      &__search-bar:focus-within {
        box-shadow: 0 0 5px 2px $colour;
      }
    }
  }
}
