$title-font: Ubuntu, sans-serif;
$body-font: Verdana, sans-serif;
$body-color: black;

$colours: (
  home: #87ae28,
  explore: #2887a8,
  develop: #a1a891,
  support: #d99818,
  about: #996daa
);

$secondaries: (
  home: #3d5f27,
  explore: #1C2734,
  support: #572E00
)