$title-font: Ubuntu, sans-serif;
$body-font: Verdana, sans-serif;
$body-color: black;

$colours: (
  home: #87ae28,
  explore: #2887a8,
  develop: #a1a891,
  support: #d99818,
  about: #996daa,
  news: #7D1902
);

$secondaries: (
  home: #3d5f27,
  explore: #1C2734,
  develop: #1F241F,
  support: #572E00,
  about: #300E59,
  news: #7D1902
)