---
layout: page
title: Why choose Scratchpads?
---
<h1>Why Choose Scratchpads?</h1>

{% assign nodes = site.html_pages | sort: "weight" %}

{% for node in nodes %}
  {% include parent page=node %}
  {% if parent != page.url %}
    {% continue %}
  {% endif %}

  <hr>

  <div class="sp-media sp-media--space">
    <div>
      <h2><a href="{{ node.url | relative_url }}">{{ node.title }}</a></h2>
      {% assign excerpt = node.content | split: site.excerpt_separator %}
      <p>{{ excerpt[1] | strip_html }}</p>
      <a href="{{ node.url | relative_url }}" aria-hidden="true" tabindex="-1">Read more</a>
    </div>
    <a class="sp-media__img" href="{{ node.url | relative_url }}" aria-hidden="true" tabindex="-1"><img src="{{ node.page_image | relative_url }}"></a>
  </div>
{% endfor %}
