body.context-home div div.view-nodequeue-1 div.views-row-1 div.views-field-create-spad a:link,
body.context-home div div.view-nodequeue-1 div.views-row-1 div.views-field-create-spad a:visited {
  background: #FFF url(../../images/ie/accordion-button-dark.png) no-repeat 0 0;
  width: 181px; /* 187 - 6 */
  height: 23px; /* 26 - 3 */
  border: 0;
  padding: 3px 0 0 6px;
}

body.context-home div div.view-nodequeue-1 div.views-row-4 div.views-field-create-spad a:link,
body.context-home div div.view-nodequeue-1 div.views-row-4 div.views-field-create-spad a:visited {
  background: #FFF url(../../images/ie/accordion-button-light.png) no-repeat 0 0;
  width: 181px; /* 187 - 6 */
  height: 23px; /* 26 - 3 */
  border: 0;
  padding: 3px 0 0 6px;
}

body.context-home div div.view-nodequeue-1 div.views-row-3 div.views-field-create-spad a:link,
body.context-home div div.view-nodequeue-1 div.views-row-3 div.views-field-create-spad a:visited {
  background: #FFF url(../../images/ie/accordion-button-normal.png) no-repeat 0 0;
  width: 181px; /* 187 - 6 */
  height: 23px; /* 26 - 3 */
  border: 0;
  padding: 3px 0 0 6px;
}

body.context-home div div.view-nodequeue-1 div.views-row-2 div.views-field-create-spad a:link,
body.context-home div div.view-nodequeue-1 div.views-row-2 div.views-field-create-spad a:visited {
  background: #FFF url(../../images/ie/accordion-button-medium.png) no-repeat 0 0;
  width: 181px; /* 187 - 6 */
  height: 23px; /* 26 - 3 */
  border: 0;
  padding: 3px 0 0 6px;
}
