.sp-case-studies {
  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    flex: 1 0 auto;
  }

  &__list {
    @include reset-list;
    @include page-container;

    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(calc(100% + 19px));
  }

  &__study {
    margin-right: 10px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__figure {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-start;
    justify-content: center;
  }

  &__caption {
    flex: 1 0 200px;
  }

  &__name {
    font-family: $title-font;
    font-size: 14.6667px;
    line-height: 22px;
  }

  &__desc {
    font-size: 13.3333px;
    line-height: 20px;
    margin: 12px 15px 18px 0;
  }

  &__link {
    @include read-more;

    font-size: 12px;
  }

  &__index {
    @include reset-list;

    display: flex;
    margin: auto;

    &-item {
      $r: 15px;

      width: $r * 2;
      height: $r * 2;
      line-height: $r * 2;
      border-radius: $r;
      text-align: center;
      background: #eee;
      display: block;
      margin: $r / 2;

      &[data-active],
      &:hover {
        background: #87ae28;
      }
    }
  }
}
