.sp-case-studies {
  &__list {
    @include reset-list;

    display: flex;
    overflow: auto;
  }

  &__study {
    flex: 0 0 100%;
    margin-right: 10px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__figure {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    align-items: flex-start;
  }

  &__caption {
    flex-basis: 50%;
  }

  &__name {
    font-size: 14.6667px;
    line-height: 22px;
  }

  &__desc {
    font-family: Verdana, sans-serif;
    font-size: 13.3333px;
    line-height: 20px;
    margin: 12px 15px 19px 0;
  }

  &__link {
    font-size: 12px;
    text-transform: uppercase;
    color: $home-accent;
  }
}
