$transition-duration: 0.4s;

.sp-why {
  &__title {
    margin: 12px 0;
  }

  &__accordion {
    display: flex;

    // Give flex items a 10px gutter
    margin: -5px;

    > * {
      margin: 5px;
    }
  }

  &__panel {
    border: 7px solid;
    border-left: 0;
    border-right: 0;
    padding: 6px 10px 9px;
    font-size: 13.33px;
    line-height: 20px;
    flex: 1 1 0;
    transition: all $transition-duration;
    height: 224px;
    overflow: hidden;

    // Create new stacking context so child z-indices are contained
    transform: rotate(0);

    > * {
      transform: rotate(0);
      z-index: 1;
    }

    // Background images - keep them in pseudo elements so we can fade them by transition: opacity
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      transition: opacity $transition-duration;
    }

    // Big image when expanded
    &::before {
      opacity: 1;
      background-size: auto calc(100% - 14px);
      background-position: right;

      // Keep behind the text
      z-index: -1;
    }

    // Square image when collapsed
    &::after {
      opacity: 0;
      background-size: 100% auto;
      background-position: center bottom 7px;
    }

    // Apply custom colours and images to each section
    @mixin panel ($image, $color, $border, $shadow) {
      color: $color;

      .sp-why__panel-button {
        background: $color;
        border: solid 1px $border;
        box-shadow: inset 1px 1px 4px $shadow, 1px 1px 1px #888888;
      }

      &::before {
        background-image: url(/assets/why/#{$image}-big.png);
      }

      &::after {
        background-image: url(/assets/why/#{$image}-square.png);
      }
    }

    &--create {
      @include panel(octopus, #27341c, #000, #87ae28);
    }

    &--publish {
      @include panel(fern, #3d5f27, #27341c, #C4D208);
    }

    &--contribute {
      @include panel(weevil, #87ae28, #3d5f27, #C4D208);
    }

    &--collaborate {
      @include panel(flower, #C4D208, #87ae28, #FFF);
    }

    // Styles for inactive section
    &--inactive {
      padding: 0;
      flex-grow: 0.26;

      // Make it look clickable
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      // Switch out the images
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__panel-title {
    font-size: 24px;
    line-height: 1em;
    min-height: 60px;
    transition: font-size $transition-duration;
  }

  // If we have javascript the titles get turned into buttons so they're clickable
  &__title-button {
    // Remove button styles
    all: inherit;
    min-height: auto;

    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
    }

    // Add an 'affordance' so it looks clickable
    &::after {
      content: " →";

      // Not visible when active as clicking doesn't do anything
      transition: opacity $transition-duration;
      opacity: 0;
    }
  }

  &__panel-text {
    margin: 0;
    color: $body-color;
    min-height: 111px;
    opacity: 1;
    transition: opacity $transition-duration;

    a:link,
    a:visited {
      color: #27341C;
    }
  }

  // "Create your own Scratchpad" buttons
  &__panel-button {
    display: inline-block;
    border: 1px solid black;
    padding: 0 4px 2px;
    border-radius: 5px;
    font-size: 13.33px;
    line-height: 20px;
    text-decoration: none;
    opacity: 1;
    transition: opacity $transition-duration 0.1s;
    font-family: $title-font;

    &:link,
    &:visited {
      color: white;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__panel--inactive & {
    // Fade in the affordance on the button
    &__title-button::after {
      opacity: 1;
    }

    &__panel-title {
      font-size: 16px;
    }

    &__panel-text,
    &__panel-button {
      opacity: 0;
    }
  }

  &__panel--inactive:not([data-animating]) & {
    &__panel-text,
    &__panel-button {
      // Make sure buttons aren't focusable when inactive
      visibility: hidden;
    }
  }

  &__panel:not(&__panel--inactive) + &__panel &__panel-button {
    display: none;
  }

  @media (max-width: 960px) {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;

    &__accordion {
      min-width: 960px;
    }
  }
}
