<section class="sp-case-studies {{ include.class }}">
  <h2>Case studies</h2>

  <ul class="sp-case-studies__list">
    {% for study in site.data.case-studies %}
      <li class="sp-case-studies__study">
        <figure class="sp-case-studies__figure">
          <img src="{{study.image}}" alt="Screenshot of {{study.name}} scratchpad">
          <figcaption class="sp-case-studies__caption">
            <h3 class="sp-case-studies__name">{{study.name}}</h3>
            <p class="sp-case-studies__desc">{{study.description}}</p>
            <a href="{{study.url}}"  class="sp-case-studies__link">Visit {{study.name}} Scratchpad</a>
          </figcaption>
        </figure>
      </li>
    {% endfor %}
  </ul>
</section>
