<section class="sp-why {{ include.class }}">
  <h2 class="sp-why__title">Why choose Scratchpads?</h2>

  <div class="sp-why__accordion">
    <section class="sp-why__panel sp-why__panel--create">
      <h3 class="sp-why__panel-title">Create your own site</h3>

      <p class="sp-why__panel-text">
        Create your own website to connect, work with and share your data.<br>
        <a href="{{ '/about/why/create' | relative_url }}">Read more about creating your site.</a>
      </p>

      <a href="http://get.scratchpads.org/" class="sp-why__panel-button">Create your own Scratchpad!</a>
    </section>

    <section class="sp-why__panel sp-why__panel--publish">
      <h3 class="sp-why__panel-title">Publish your data online</h3>

      <p class="sp-why__panel-text">
        Scratchpads are an easy and effective way to present your data online.<br>
        <a href="{{ '/about/why/publish' | relative_url }}">Read more about publishing your data.</a>
      </p>

      <a href="http://get.scratchpads.org/" class="sp-why__panel-button">Create your own Scratchpad!</a>
    </section>

    <section class="sp-why__panel sp-why__panel--contribute">
      <h3 class="sp-why__panel-title">Contribute to biodiversity knowledge</h3>

      <p class="sp-why__panel-text">
        Link and share your structured data to make it widely accessible.<br>
        <a href="{{ '/about/why/contribute' | relative_url }}">Read more about contributing knowledge.</a>
      </p>

      <a href="http://get.scratchpads.org/" class="sp-why__panel-button">Create your own Scratchpad!</a>
    </section>

    <section class="sp-why__panel sp-why__panel--collaborate">
      <h3 class="sp-why__panel-title">Collaborate with your peers</h3>

      <p class="sp-why__panel-text">
        Whether you want to prepare a paper with colleagues, build a bibliographic database or create
        a reference collection of images and observations, Scratchpads can help.<br>
        <a href="{{ '/about/why/collaborate' | relative_url }}">Read more about collaborating.</a>
      </p>

      <a href="http://get.scratchpads.org/" class="sp-why__panel-button">Create your own Scratchpad!</a>
    </section>
  </div>
</section>
