<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  {% if page.css %}
  <link rel="stylesheet" href="{{ '/css/ ' | relative_url }}{{page.css}}.css">
  {% endif %}
  {% for css in layout.css %}
  <link rel="stylesheet" href="{{ '/css/' | relative_url }}{{css}}.css">
  {% endfor %}
  {% feed_meta %}
  {% for js in page.js %}
  <script src="{{ '/assets/' | relative_url }}{{js}}.js" defer></script>
  {% endfor %}
  <script>
    function skipToMain () {
      var main = document.getElementById('main');
      main.setAttribute('tabindex', -1);
      main.focus();
    }
  </script>

  <title>{{ page.title }} | Scratchpads</title>
</head>

{% include theme %}
{% assign page_theme = theme %}

<body data-theme="{{theme}}">
  <a class="sp-base__skip" href="#main" onclick="skipToMain()">Skip to main content</a>
  {% include header.html %}

  <div class="sp-base">
    {{ content }}
  </div>

  {% include footer.html %}
</body>
</html>
