---
layout: default
css: page
---
{% include theme %}
{% assign page_theme = theme %}
<div class="sp-page" data-theme="{{ page_theme }}">
  <aside class="sp-page__sidebar">
    <ul class="sp-page__sidebar-nav">
    {% for node in site.pages %}
      {% include theme page=node %}
      {% if theme != page_theme %}
        {% continue %}
      {% endif %}

      {% assign class = 'sp-page__sidebar-item' %}
      {% if node.url == page.url %}
         {% assign class = class | append: ' ' | append: class | append: '--active' %}
      {% endif %}
      <li><a href="{{ node.url }}" class="{{ class }}">{{ node.sidebar | default: node.title }}</a></li>
    {% endfor %}
    </ul>
  </aside>
  <article class="sp-page__main">
    {{ content }}
  </article>
</div>