---
layout: default
css: page
---
{% comment %}
  Find the root page for the current category by goind through all
  main menu pages and selecting the one that matches by category
{% endcomment %}
{% include theme %}
{% assign page_theme = theme %}
{% assign roots = site.html_pages | where_exp: "root", "root.menu != nil" %}
{% for r in roots %}
  {% include theme page=r %}
  {% if theme == page_theme %}
    {% assign root = r %}
    {% break %}
  {% endif %}
{% endfor %}

{% include parent %}
{% assign page_parent = parent %}

{% assign image = site.static_files | where_exp: "img", "img.path contains 'assets/sidebar'" | sample %}
<div class="sp-page" data-theme="{{ page_theme }}">
  <aside class="sp-page__sidebar">
    <ul class="sp-page__sidebar-nav">
      {% comment %}
        Loop through root page and its children
      {% endcomment %}
      {% include children page=root %}
      {% assign pages = children | unshift: root %}

      {% for node in pages %}
        {% comment %}Don't indent children of root page{% endcomment %}
        {% if node == root %}
          {% assign children = nil %}
        {% else %}
          {% include children page=node %}
        {% endif %}

        {% assign active = false %}
        {% if node.url == page.url or node.url == page_parent and page_parent != root.url %}
          {% assign active = true %}
        {% endif %}

        {% comment %}Generate class for menu item with BEM modifiers{% endcomment %}
        {% assign base = 'sp-page__sidebar-item' %}
        {% assign class = base %}
        {% if active %}
          {% assign class = class | append: ' ' | append: base | append: '--active' %}
        {% endif %}
        {% assign len = children | size %}
        {% if len > 0 %}
          {% assign class = class | append: ' ' | append: base | append: '--children' %}
        {% endif %}
        {% if node.redirect_to %}
          {% assign class = class | append: ' ' | append: base | append: '--external' %}
        {% endif %}
        <li>
          <a href="{{ node.redirect_to | default: node.url }}" class="{{ class }}">{{ node.sidebar | default: node.title }}</a>
          {% if children and active %}
            <ul class="sp-page__sidebar-subnav">
              {% for child in children %}
                {% assign base = 'sp-page__sidebar-item' %}
                {% assign class = base | append: ' ' | append: base | append: '--child' %}
                {% if child.url == page.url or child.url == page.parent %}
                  {% assign class = class | append: ' ' | append: base | append: '--active' %}
                {% endif %}
                <li><a href="{{ child.redirect_to | default: child.url }}" class="{{ class }}">{{ child.sidebar | default: child.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <img src="{{image.path}}" alt="" role="presentation" class="sp-page__decoration">
  </aside>
  <article class="sp-page__main">
    {{ content }}
  </article>
</div>
