<!doctype html>
<html lang="en">
  <head>
     {% if page.current != false %}
      {% assign redirect_to = "/about/team/#" | append: page.title | replace: ' ', '-' | downcase | relative_url %}
     {% else %}
       {% assign redirect_to = "/about/team/past" | relative_url %}
     {% endif %}
     <meta http-equiv="refresh" content="0;url={{ redirect_to }}" />
     <title>Page moved | Scratchpads</title>
  </head>
  <body>
      This page has moved to <a href="{{ redirect_to }}">{{ redirect_to }}</a>.
  </body>
</html>
